body{
  background:   grey;
  color: white;  
}

#navbar>ul>a{
  color: white;
  font-size: 12px;
  padding: 0;
}
#navbar{
    margin: 1% 0 0 6%;
}
.navbar-inverse{
    background-color: grey;
    border-color: grey;
}
.logo_rmd{
    font-family: 'Swistblnk Monthoers Bold', 'Swistblnk Monthoers Regular', 'Swistblnk Monthoers';
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    padding-top: 5%;
}
.center-block {
  text-align: center;
}
.dr1, .dr2, .bt_s, .dr_city, .dr_d, .dr_p{
    padding: 5px;
}
#footer {
    position: fixed; 
    left: 0; bottom: 0; 
    padding: 3px;
    background: grey; 
    color: #fff; 
    width: 100%; 
    font-size: 8px;
}
.bt_s>a{
    color: white;
   padding: 4px 9px;
   border: 2px solid white; 
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    border-radius: 8px;
}
.content_r{
    color: white;
    border: 2px solid white; 
    border-radius: 8px;
}

.notebook,
.notebook .tabs,
.notebook .pages,
.notebook .page {
 margin: 0;
 padding: 0;
}
.notebook .tabs, .notebook .pages {
 list-style: none;
 overflow: hidden;
}
.notebook .tabs li {
 float: left;
 border-right: 1px solid gray;
 border-top: 1px solid gray;
 background: #eee;
 padding: 0 10px;
 height: 30px;
}
.notebook .pages {
    clear: both;
    border: 1px solid gray;
}
.notebook .tabs {
 border-left: 1px solid gray;
 line-height: 30px;
 height: 30px;
}
.notebook .tabs a {
 text-decoration: none;
}
.notebook .tabs li:hover {
 background: #ddd;
}
.notebook .page .page-top-border
{
 border: none;
 height: 2px;
 font-size: 1px;
 line-height: 1px;
 border-top: 1px solid gray;
 float: left;
}
.notebook .page .page-top-border *
{
 margin: 0px;
 padding: 0px;
}
.notebook .page-top-border .page-active
{
 border-top: 1px solid #eee;
}
#notebook4 .pages {
 border-top: none;
}
#notebook4 .pages, #notebook4 .page {
 box-sizing: border-box;
}
#notebook4 .tabs li,
#notebook4 .page-top-border * {
 box-sizing: border-box;
}

a>h4{
    color: white;   
}
.panel-body, .ser_pac{
    color: dimgrey;
}
.test{
  border-style: solid;
  border-color: red;
  border-width: 1px;
}
.lookgood_1{
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.3em;
}
#page1{
   display: inline;
   cursor: pointer;
}
#page2{
   display: none;
   cursor: pointer;
}
.tab_1{
   cursor: pointer;
   color: black;
   font-weight: bold;
   width: 50%;look
   text-align: center;
}
