body {
  padding-top: 50px;
  font-family: 'PT Sans', sans-serif;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
}

footer {
  padding: 30px 0;
}

.navbar-blue {
  background-color: #8CB2E9;
}

@font-face {
    font-family: customFont;
    src: url(fonts/Monthoers.otf);
}

.navbar-blue .navbar-brand{
  color: #FFFFFF;
  font-family: customFont;
  font-size: 20pt;
}

.navbar-blue li a {
  background-color: #8CB2E9;
  color: #FFFFFF;
}

.navbar-blue li a:hover {
  background-color: #3D4880;  
  color: #FFFFFF;
}

.navbar-blue li a:focus {
  background-color: #3D4880;  
  color: #FFFFFF;
}

.navbar-toggle {
  border: 0px;
}

.navbar-blue .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}



