html, body {
    margin: 0;
    padding: 0;
	color: #3D4880;
}

a:link, a:visited {
	color: #7D9C47;
	text-decoration: none;
}

a:hover, a:active {
	color: #7D9C47;
	text-decoration: none;
}

h2 {
	font-size: 20pt;
	text-transform: uppercase;
	color: #3D4880;
}

h3 {
	font-size: 14pt;
	text-transform: uppercase;
}

.dashboard-section {
	height: 250px;
	margin-bottom: 10px;
	border: 1px dashed #3D4880;
	border-radius: 2px;
}

.dashboard-section h3 {
	background-color: #3D4880;
	color: #FFFFFF;
	padding: 5px 10px;
	border-radius: 2px;
}

.dashboard-section .glyphicon {
	color: #7D9C47;
}

.dropbtn {
    background-color: #FFFFFF;
    color: #7D9C47;
    padding: 2px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px;
    z-index: 1;
}

.dropdown-content a {
    color: #7D9C47;
    padding: 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #FFFFFF;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
}

#footer {
	position: absolute;
    left: 0; 
    bottom: 0; 
    padding: 3px;
    background-color: #7D9C47;
    color: #DEE8BC; 
    width: 100%; 
    font-size: 10pt;
}

#footer a {
	color: #FFFFFF;
}

#footer a:hover, a:active {
	color: #FFFFFF;
}

.small-text {
	font-size: 8pt;
}