/* custom css stylesheet */
.topheader{
	background: #151515;
}
.topheader a{
	color:#B2B2B2;
	padding: 10px;
}
.topheader a:hover{
	color: #FFF;
	text-decoration: none;
}
.customcontainer{
	padding-left: 5px;
	padding-right: 5px;
	margin-right: auto;
	margin-left: auto;
}
.customcontainer a:nth-of-type(1):before{
	content: "+";
}
.calendarword{
	color:red;
	font-size: 24px;
	padding-left: 20px;
	padding-top: 20px;
}
.rutgerslogo{
	padding: 10px;
	width: 70%;
}
.content{
	width:100%;
	height: 550px;
	border-top: 1px solid #EBEBEB;
}
.left-content{
	margin: auto;
	display:inline-block;
	width: 18%;
	height: 100%;
}
.right-content{
	padding-left: 12px;
	margin: auto;
	display:inline-block;
	width: 80%;
	height: 100%;
}
.h6pad{
	padding-left: 25px;
}
.grey{
	color: #b2b2b2;
}
/*code from https://www.youtube.com/watch?v=y6PkEGnN0VM */
