/* Sidebar */
#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background: #7D9C47;
	opacity: 0.9;
}

ul {
	list-style: none;
}

li a {
	display: block;
	border-bottom: 1px solid  #DEE8BC;
	color:  #DEE8BC;
	padding: 5px 0px 5px 0px;
	text-transform: uppercase;
}

li a:hover {
	color:  #DEE8BC;
	text-decoration: none;
}

/* Main content */
#page-content-wrapper{
	width: 100%;
	position: absolute;
}

	/* change the width of the sidebar to display it */
	#wrapper.toggled #sidebar-wrapper{
		width: 200px;
	}

	#wrapper.toggled #page-content-wrapper{
		padding-left: 200px;
	}
	
	/* code from https://www.youtube.com/watch?v=tuuLDy1dev0 */